.env
.storage/
backups/
tmp/
deps/
*.db
*.db-*
*.log
*.tar
*.zip
config/secrets.yaml
config/.cloud
config/home-assistant.log
config/home-assistant.log.*
config/OZW_Log.txt
config/*.db
config/*.db-*
config/tts/
mosquitto/data/
mosquitto/log/

backup-review/
